.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
build/
*.xcuserstate
*.xcworkspace
*.xcodeproj/project.xcworkspace/xcuserdata
*.xcodeproj/xcuserdata
*.xcodeproj/xcshareddata/
*.xcodeproj/project.xcworkspace
*.xcodeproj/xcuserdata/
